Django~=3.0.6

asgiref==3.2.7
Django==3.0.7
django-environ==0.4.5
psycopg2-binary==2.8.5
pytz==2020.1
sqlparse==0.3.1
django-extensions
#python manage.py shell_plus  #to run python with all modules
